body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.layout {
    max-width: 1400px; /* Beperk de breedte van de inhoud */
    margin: 0 auto;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 20px;
}

main {
    min-height: calc(100vh - 200px); /* Zorg dat de main de hoogte van het scherm vult, minus header/footer */
}

.back-button {
    text-align: center;
    margin-bottom: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: var(--accent-color);
}